@model List<Course>

@{
    ViewBag.Title = "Browse Courses";
}

<div class="container">
    <div class="row">
        <h2 class="text-center">All Courses</h2>
        <hr />
        @foreach (var item in Model)
        {
            <div class="col-sm-3 col-xs-4">
                <div class="panel panel-default">
                    <div class="panel-thumbnail">
                        <a asp-action="Enroll" asp-route-id="@item.Id"></a>
                        <img src="@item.ImagePath" class="img-responsive" height="150" width="250" />
                    </div>
                    <div class="panel-body">
                        <p class="lead">@item.Title</p>
                        <p class="lead">$@item.Price</p>
                        <p class="lead">@item.Description</p>

                    </div>
                </div>
            </div>
        }
    </div>
</div>
